<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.StuffyCare">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".register.LoginOrRegisterPage" />
        <activity android:name=".register.RegisterPage4" />
        <activity android:name=".register.RegisterPage3" />
        <activity android:name=".register.RegisterPage2" />
        <activity android:name=".register.RegisterPage1" />
        <activity
            android:name=".splash.SplashScreens"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity
            android:name=".ShopNowHome"
            android:label="ShopNow" />
        <activity
            android:name=".ShopNowMain"
            android:label="ShopNow"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProductDetails"
            android:label="ShopNow"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login" />
        <activity
            android:name=".DrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ShopNowResult" />
        <activity android:name=".SelectAddress" />
        <activity android:name=".PaymentMethods" />
        <activity android:name=".Payments.CardPayment" />
        <activity android:name=".Payments.UPIPayment" />
        <activity
            android:name=".SearchView"
            android:noHistory="true" />
        <activity android:name=".Cart" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>